{% extends 'base.html.twig' %}

{% block title %}Accueil LMS-WF3{% endblock %}

{% block body %}

<div class="container mt-3">
<h1>Bienvenue !!!</h1>
<p>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid quia voluptatibus minus, eos impedit reiciendis, id possimus nihil nemo laborum ipsa, nulla praesentium repudiandae natus cum eum libero earum quis.
</p>
</div>

{% endblock %}
