{% extends 'admin/base.html.twig' %}

{% block title %}Edition Réponse{% endblock %}

{% block body %}
    
    <div class="container">
        <h1>Edition réponse</h1>
        <div class="row">
            <div class="col">
                {{ include('admin/answer/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-3">
            <div class="col-2">
                <a class="btn btn-secondary" href="{{ path('admin_answer_index') }}">Retour à la liste</a>
            </div>
            <div class="col-2">
                {{ include('admin/answer/_delete_form.html.twig') }}
            </div>
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}
