{% extends 'base.html.twig' %}

{% block title %}Rôle index{% endblock %}

{% block body %}
<div class="container">
    <h1>Rôle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.title }}</td>
                <td>
                    <a href="{{ path('role_listerole', {'id': role.id}) }}">voir</a>                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
