{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs!{% endblock %}

{% block body %}

<div class = "jumbotron mt-3">
    <h1 style="text-align:center"><mark>Les utilisateurs</mark></h1> 
</div>
<div class="container">
    <h1>{{ users | length }} utilisateurs</h1>
    {%for user in users %}   
        <ul>
            <li>
                <h2>{{ user.username }}</h2>
                
                {{ user.roles[0] }}
                <td><a class="btn btn-warning" style="color:black" href="{{ path('role_editRole', {'id':user.id}) }}" role="button" >Modifier</a></td>
            </li>
        </ul>
    <hr>
    {% endfor %}
</div>
{% endblock %}