{% extends 'base.html.twig' %}

{% block title %}Liste des quizz{% endblock %}

{% block body %}
    <h1>Liste des quizz</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
            </tr>
        </thead>
        <tbody>
        {% for quizz in quizzs %}
            <tr>
                <td>{{ quizz.id }}</td>
                <td>{{ quizz.titre }}</td>
                <td>
                    <a href="{{ path('quizz_toutvoir', {'id': quizz.id}) }}">Voir</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('question_new') }}">Create new</a>
{% endblock %}
